body {
  cursor: url(/externals/cur/naibai_cus/normal.cur), default;
}
input {
  cursor: url(/externals/cur/naibai_cus/text.cur), text;
}
textarea,
input:focus {
  cursor: url(/externals/cur/naibai_cus/handwriting.cur), text;
}
code, pre > code, .highlight-container {
  cursor: url(/externals/cur/naibai_cus/text.cur), text;
}