html,
body,
main {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  overflow-x: hidden;
}
.comment-container {
  content-visibility: visible;
}
.md\:text-6xl {
  font-size: 50px;
}
.article-prev,
.article-next {
  text-overflow: ellipsis;
  max-width: 400px;
}

@media screen and (max-width: 600px) {
  .md\:text-6xl {
    font-size: 30px;
  }
}
/*
html,body {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
*/
