.comment-container {
  content-visibility: visible;
}
.md\:text-6xl {
  font-size: 50px;
}
.article-prev,
.article-next {
  text-overflow: ellipsis;
  max-width: 400px;
}

@media screen and (max-width: 600px) {
  .md\:text-6xl {
    font-size: 30px;
  }
}

/* 修复樱花的BUG */
.sakura {
  pointer-events: none !important;
  position: fixed !important;
}

/*
html,body {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
*/
